logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.yarn
!.yarn/plugins

build
*.spec
package-lock.json
/**/dist/*
!index.user.js

auto-imports.d.ts
components.d.ts

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.timestamp-*
winex/out
**/wxp/wxpresource
**/wxp/WxP Client v3.1.23.app
**/wxp/v3.1.23
.turbo
